.title {
	float:left;	
    font-family: sans-serif;
    background: -webkit-linear-gradient(#ff00bf, #b30086);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-left:3%;
    text-decoration: none;
    font-size:250%;
}
.credits{
	float:none;	
    color: #000000;
    text-align:center;
    text-decoration: none;
    font-size:200%;
}
.welcomeMessage{
	padding-top:20px;
	float:none;	
    font-family: sans-serif;
    background: -webkit-linear-gradient(#ff00bf, #b30086);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin:auto;
    text-decoration: none;
    font-size:500%;
    text-align:center;
		padding-right:300px;
}
.aboutMessage{
	float:none;	
    font-family: sans-serif;
    color: #808080;
    text-decoration: none;
	word-wrap:normal;

		/*background-image:url(../images/aboutPageBackground.jpg); */
    font-size:120%;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 50px;
	padding-right:530px;
	line-height:150%;
}
.loginMessage{
    padding-top:20px;
    padding-bottom:20px;
    float:none; 
    font-family: sans-serif;
    color: #000000;
    margin:auto;
    text-decoration: none;
    font-size:200%;
    text-align:right;
}
.loginUsername{
    font-family: sans-serif;
    margin-left: 20%;
    padding-bottom: 3px;
}
.loginPassword{
    padding-top:20px;
    font-family: sans-serif;
    margin-left: 20%;
    padding-bottom: 3px;
}
.emailBox{
    margin-left: 20%;
}
.passwordBox{
    margin-left: 20%;
}
.tryItNow{
	float:none;	
    font-family: sans-serif;
    color: #000000;
    text-decoration: none;
    font-size:280%;
    text-align: center;
		margin-left: 20%;
		margin-top:5%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 2px solid #000000;
}

li {
    float: right;
}

.navhyperlink  {
	float:right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:130%;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

.gwt-Anchor {
    cursor: pointer;
}
.footText{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.aboutBackground {
	background-image:url(../images/aboutPageBackground.jpg);
	background-size: cover;
	width:100%;
	height:580px;
	
}
