.title {
	float:left;	
    color: #666;
    text-align: center;
    margin-left:3%;
    text-decoration: none;
    font-size:250%;
}
.credits{
	float:none;	
    color: #666;
    text-align:center;
    text-decoration: none;
    font-size:200%;
}
.welcomeMessage{
	padding-top:20px;
	float:none;	
    color: #666;
    text-align:center;
    margin:auto;
    text-decoration: none;
    font-size:350%;
}

.textMessage{
	float:none;	
    color: #666;
    text-decoration: none;
    font-size:110%;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.tryItNow{
	margin-left:40%;
	float:none;	
    color: #666;
    text-align: center;
    text-decoration: none;
    font-size:280%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 2px solid #000000;
}

li {
    float: right;
}

.navhyperlink  {
	float:right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:130%;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

.gwt-Anchor {
    cursor: pointer;
}
